<ion-app>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedStar()">
        <!--ion-icon slot="icon-only" name="star"></ion-icon-->
      </ion-button>
    </ion-buttons>
    <ion-title size="large" [routerLink]="['/home']" >AirBnB</ion-title>
    <ion-buttons slot="end">
      <div>
        <ion-menu-button autoHide="false"></ion-menu-button>
      </div>
    </ion-buttons>

  </ion-toolbar>


  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
      <ion-buttons>
        <ion-searchbar animated></ion-searchbar>
      </ion-buttons>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/list']" >Places to Stay</ion-item>
        <ion-item>Explore</ion-item>
        <ion-item>Become a Host</ion-item>
        <ion-item>Login</ion-item>
        <ion-item>About</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!---->

  <!---->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>